@use "@/assets/styles/mixins" as mix;
@use "@/assets/styles/variables" as *;

.empty-state {
  @include mix.flexCenter;
  padding: $spacing-xl;
  text-align: center;

  &__text {
    color: $color-text-secondary;
    font-size: 14px;
  }
}
