@use "@/assets/styles/mixins" as mix;
@use "@/assets/styles/variables" as *;

.search-results {
  width: 100%;
  max-width: 700px;
  margin-top: $spacing-xl;
  padding: $spacing-xl;

  &__grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: $spacing-lg;
  }
}
