@use "@/assets/styles/mixins" as mix;
@use "@/assets/styles/variables" as *;

.error-message {
  @include mix.flexCenter;
  flex-direction: column;
  padding: $spacing-xl;
  text-align: center;

  &__text {
    color: $color-error;
    font-size: 14px;
  }
}