@use "@/assets/styles/mixins" as mix;
@use "@/assets/styles/variables" as *;

.tour-info {
  &--inline {
    display: flex;
    flex-direction: column;
    gap: $spacing-xs;
  }

  &--block {
    display: flex;
    flex-direction: column;
    gap: $spacing-md;
    padding: $spacing-md;
    border-top: 1px solid $border-color-light;
  }

  &__item {
    display: flex;
    gap: $spacing-xs;
  }

  &__label {
    @include mix.font(12px, regular);
    color: $color-text-secondary;
  }

  &__value {
    @include mix.font(12px, regular);
    color: $color-text-primary;
  }

  &__price {
    @include mix.font(16px, bold);

    &--block {
      @include mix.font(22px, bold);
    }
  }
}
